doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/admin.css')
  body
    header
      title Admin Menu
    div(class="header")
        h1 Admin Menu
    br
    br
    form
        div( class="centerButtons")
            input(type="button", class="button", value="Reload Library", onclick="reloadLibrary()")
            input(type="button", class="button", value="Drop Requests", onclick="dropRequests()")
        br
        div( class="centerButtons")
            input(type="button", class="button", value="Main Menu", onclick="navMainMenu()")
            input(type="button", class="button", value="Requests Menu", onclick="navRequestsMenu()")
        br
        h3 Local IP Address
        div(id="ipAddress", class="infoTxt")
        h3 Connected Clients
        div(id="clients-div") 
            div(id="clients")
        script(type='text/javascript', src="/javascripts/admin.js")
