doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/admin.css')
  body
    header
      title Admin Menu
    div(class="header")
        h1 Admin Menu
    br
    br
    form
        div( class="centerButtons")
            input(type="button", class="button", value="Reload Library", onclick="reloadLibrary()")
            input(type="button", class="button", value="Drop Requests", onclick="dropRequests()")
        br
        div( class="centerButtons")
            input(type="button", class="button", value="Main Menu", onclick="navMainMenu()")
            input(type="button", class="button", value="Requests Menu", onclick="navRequestsMenu()")
        br
        div(class='table-div')
            table(class="order-table table")
                thread
                    tr
                        th Local IP Address
                        th Database Locations
                tbody
                    -let i = 0
                    each filepath in virtualDJdatabaseXMLFilepaths 
                        tr
                            th
                                if i == 0
                                    input(type="text", id="ipAddress", name="ipAddress", class="readOnlyText", readonly )
                            th
                                input(type="text", name=filepath, class="readOnlyText", value=filepath, readonly )
                        -i ++

        h3 Connected Clients
        div(id="clients-div") 
            div(id="clients" class='table-div' )
        script(type='text/javascript', src="/javascripts/admin.js")
