doctype html
html
    head
        title Browse by #{title}
        link(rel='stylesheet', href='/stylesheets/browse-grid.css')
    body
        p 
            h1 Browse by #{title}
        form
            div(class="grid-container")
                div(class="grid-item itemA1")
                    input(type="button", class="button", id="A", value="A", onclick="clickButton(\"A\")" )
                div(class="grid-item itemB1")
                    input(type="button", class="button", id="B", value="B", onclick="clickButton(\"B\")" )
                div(class="grid-item itemC1")
                    input(type="button", class="button", id="C", value="C", onclick="clickButton(\"C\")" )
                div(class="grid-item itemD1")
                    input(type="button", class="button", id="D", value="D", onclick="clickButton(\"D\")" )
                div(class="grid-item itemE1")
                    input(type="button", class="button", id="E", value="E", onclick="clickButton(\"E\")" )
                div(class="grid-item itemF1")
                    input(type="button", class="button", id="F", value="F", onclick="clickButton(\"F\")" )
                div(class="grid-item itemA2")
                    input(type="button", class="button", id="G", value="G", onclick="clickButton(\"G\")" )
                div(class="grid-item itemB2")
                    input(type="button", class="button", id="H", value="H", onclick="clickButton(\"H\")" )
                div(class="grid-item itemC2")
                    input(type="button", class="button", id="I", value="I", onclick="clickButton(\"I\")" )
                div(class="grid-item itemD2")
                    input(type="button", class="button", id="J", value="J", onclick="clickButton(\"J\")" )
                div(class="grid-item itemE2")
                    input(type="button", class="button", id="K", value="K", onclick="clickButton(\"K\")" )
                div(class="grid-item itemF2")
                    input(type="button", class="button", id="L", value="L", onclick="clickButton(\"L\")" )
                div(class="grid-item itemA3")
                    input(type="button", class="button", id="M", value="M", onclick="clickButton(\"M\")" )
                div(class="grid-item itemB3")
                    input(type="button", class="button", id="N", value="N", onclick="clickButton(\"N\")" )
                div(class="grid-item itemC3")
                    input(type="button", class="button", id="O", value="O", onclick="clickButton(\"O\")" )
                div(class="grid-item itemD3")
                    input(type="button", class="button", id="P", value="P", onclick="clickButton(\"P\")" )
                div(class="grid-item itemE3")
                    input(type="button", class="button", id="Q", value="Q", onclick="clickButton(\"Q\")" )
                div(class="grid-item itemF3")
                    input(type="button", class="button", id="R", value="R", onclick="clickButton(\"R\")" )
                div(class="grid-item itemA4")
                    input(type="button", class="button", id="S", value="S", onclick="clickButton(\"S\")" )
                div(class="grid-item itemB4")
                    input(type="button", class="button", id="T", value="T", onclick="clickButton(\"T\")" )
                div(class="grid-item itemC4")
                    input(type="button", class="button", id="U", value="U", onclick="clickButton(\"U\")" )
                div(class="grid-item itemD4")
                    input(type="button", class="button", id="V", value="V", onclick="clickButton(\"V\")" )
                div(class="grid-item itemE4")
                    input(type="button", class="button", id="W", value="W", onclick="clickButton(\"W\")" )
                div(class="grid-item itemF4")
                    input(type="button", class="button", id="X", value="X", onclick="clickButton(\"X\")" )
                div(class="grid-item itemA5")
                    input(type="button", class="button", id="Y", value="Y", onclick="clickButton(\"Y\")" )
                div(class="grid-item itemB5")
                    input(type="button", class="button", id="Z", value="Z", onclick="clickButton(\"Z\")" )
                div(class="grid-item itemC5")
                    input(type="button", class="button", id="Num", value="0-9 # @", onclick="clickButton(\"num\")" )
                div(class="grid-item itemD5")
                    input(type="button", class="button", id="Back", value="Back" onclick="clickBack()" )
                div(class="grid-item itemE5")
            script(type='text/javascript', src="/javascripts/browse-grid.js")
            script(type='text/javascript', src="/javascripts/ping.js")

