doctype html
html
    head
        title Search Results
        link(rel='stylesheet', href='/stylesheets/browse-grid.css')
    body
        p 
            h1 Search Results
        p
            h2 Placeholder Page
        p
            h3 Search
        p
            h4 Field: #{field}
        p
            h4 Search: #{search}