doctype html
html
    head
        title Search Results
        link(rel='stylesheet', href='/stylesheets/results.css')
        link(rel='stylesheet' href='/stylesheets/react-table.css')
    body
        p 
            h1 Search Results
        p
            h2 Placeholder Page
        p
            h3 Search
        p
            h4 Field: #{field}
        p
            h4 Type of Search: #{typeofsearch}
        p
            h4 Search: #{search}
            
        script(src="https://unpkg.com/react-table@latest/react-table.js")
        script(src="https://unpkg.com/react-table@latest/react-table.min.js")