doctype html
html
    head
        title Thank You
        link(rel='stylesheet', href='/stylesheets/thank-you.css')
    body
        div
            p Thank you for your request, it has been submitted to the DJ.
            p Keep listening and you will be called when it's your time to shine.
            p While you're waiting why not request another?
            br
            br
            p The DJ will not be able to tell you how long untill you are called.
            p Please be patient.
            p(id="countdown") Returning to the Main Menu in: 10
        script(type='text/javascript', src="/javascripts/thank-you.js") 