doctype html
html
    head
        title Thank You
        link(rel='stylesheet', href='/stylesheets/thank-you.css')
    body
        div(class="text-container")
            p Thank you #{reqJson.Singer}, your request of "#{reqJson.Title}" in the style of #{reqJson.Artist}. It has been submitted to the DJ.
            p Keep listening and you will be called when it's your turn to sing.
            p While you're waiting why not request another?
            br
            br
            br
            p The DJ will not be able to tell you how long untill you are called. Please be patient.
            br
            p(id="countdown") Returning to the Main Menu in: 10
        div( class="centerButtons")
            input(type="button", class="button", value="Main Menu", onclick="navMainMenu()")
        script(type='text/javascript', src="/javascripts/thank-you.js") 